/.project
/.pydevproject
/settings.logset
/logs
/.metadata
/.settings
/src/logit/logs/
backup_creator.sh
prep_release.py
send_to_server.py
/src/logit/local_regression_tests/
/local_regression_tests/
src/tests/logs/
data/

*.log
*.logset
*.logdb
*.pyc
*logs.zip
