/.project
/.pydevproject
/settings.logset
/logs
/.metadata
/.settings
/src/logit/logs/
backup_creator.sh
#prep_release.py
send_to_server.py
/src/logit/local_regression_tests/
/local_regression_tests/
src/tests/logs/
data/

logit-env/

settings.json
*.log
*.logset
*.logdb
*.pyc
*logs.zip

#####################################
# Standard Python template stuff
#####################################

# Emacs directory locals file
.dir-locals.el
\#*\#
.\#*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
/dist/      # Changed to only affect the root - see below
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# CHG-1
# The change to the dist/ ignore above means that it now will only ignore a
# dist folder if it is in the root of the repo. This is needed so that it
# doesn't mess with other 'dist' folder used elsewhere.
# It shouldn't be a problem as setuptools usually writes to the root anyway
# ...and we're unlikely to be packaging this.
# If it does get written elsewhere we will need to specifically exclude that
# location.

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask instance folder
instance/

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# Spyder project settings
.spyderproject



####################################
# Standard Eclipse template stuff
####################################

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
